body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    background-color: #c8cfdc;
    padding: 50px;
    padding-bottom: 0px;
    
}

header {
    background-color: #fff;
    padding-bottom: 150px;
}

/*General Styles*/
.blue {
    color: #0089cf;
}
/*Header*/


header nav {
    padding: 20px 30px 77px 20px;
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}

header nav .leftSide {
    display: flex;
    align-items: center;
}

header nav .leftSide img {
    height: 50px;
    width: auto;
    margin-right: 30px;
}

header nav .leftSide li {
    margin-right: 42px;
}

header nav .rightSide {
    display: flex;
    align-items: center;
}

header nav .rightSide li:not(:last-of-type) {
    margin-right: 30px;
    
}

header nav .rightSide img {
    vertical-align: center;
    margin-right: 10px;
    
}

header .inner {
    width: 90%;
    max-width: 1080px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

header .inner .leftSide {
    width: 60%;
    padding-right: 100px;
}

header .inner .rightSide {
    width: 28%;
}

header .inner .rightSide .like {
    height: 48px;
    width: 48px;
    border: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 43px;
    cursor: pointer;
}

header .inner .rightSide h2 {
    margin-bottom: 17px;
    font-size: 25px;
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
}

header .inner .rightSide h3 {
    font-size: 35px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 15px;
}

header .inner .rightSide .price {
    font-size: 18px;
    color: #666;
    margin-bottom: 25px;
}

header .inner .rightSide .colors {
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 15px;
    font-weight: 400;
}

header .inner .rightSide .box {
    width: 80px;
    height: 80px;
    border: 1px solid #e4e4e4;
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding: 0px 9px 17px 8px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

header .inner .rightSide .shoes {
    display: flex;
    margin-bottom: 20px;
}

header .inner .rightSide .size {
    font-size: 12px;
    color: #666;
    margin-bottom: 15px;
}

header .inner .rightSide select, .feat2 .rightSide select {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #e4e4e4;
    background-color: #fff;
    border-radius: 0px;
    padding: 20px 85px 20px 20px;
    font: inherit;
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
    line-height: 1;
    outline: none;
    background-image: url(Image/arrow.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    margin-right: 10px;
    margin-bottom: 10px;
}

header .inner .rightSide button, .feat2 .rightSide button {
    border: none;
    background-color: #333;
    color: #fff;
    text-align: center;
    font:inherit;
    font-size: 14px;
    line-height: 1;
    padding: 21px 33px;
    outline: none;
    margin-bottom: 10px;
}

.feat1 {
    background-image: url(Image/feet.png);
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    padding: 260px 50px 260px 50px;
    background-size: cover;
}

.feat1 h3 {
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 1.5;
    max-width: 400px;
}

.feat1 p {
    font-size: 14px;
    line-height: 25px;
    max-width: 400px;
}

.feat2 {
    background-color: #f5f5f5;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feat2 .leftSide {
    width: 34%;
}

.feat2 .middle {
    width: 40%;
}

.feat2 .rightSide {
    width: 26%;
    border: 4px solid #e4e4e4;
    background-color: #fff;
    padding: 20px 15px 25px 20px;
    box-sizing: border-box;
}

.feat2 .rightSide h2 {
    font-size: 25px;
    color: #333;
    margin-bottom: 15px;
    font-weight: 400;
}

.feat2 .rightSide h3 {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.feat2 .rightSide .colors {
    font-size: 14px;
    color: #0089cf;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 400;
}

.feat2 .rightSide .stockPrice {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #333;
    font-weight: 400px;
}

.feat2 .rightSide .stock {
    font-size: 14px;
}

.feat2 .rightSide .price {
    font-size: 18px;
}

.feat2 .leftSide h4 {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    text-transform: uppercase;
}


.feat2 .leftSide h2 {
    font-size: 25px;
    color: #333;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.feat2 .leftSide p {
    font-size: 14px;
    color: #666;
    margin-bottom: 50px;
    line-height: 25px;
}

.feat2 .leftSide h3 {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
    text-transform: uppercase;
    
}

.feat2 .leftSide h5 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 400;
    
}

.feat2 .leftSide h6 {
    font-size: 12px;
    color: #333;
    margin-bottom: 20px;
     
}

.gallery {
    width: 100%;
    height: 280px;
    background-image: url(Image/nikeshoes.png);
    animation: gallery 10s infinite linear;
}

@keyframes gallery {
    0% {
        background-position: 0px 0px;
    }
    
    100% {
        background-position: -1210px 0px;
    }
}